table
{
    table-layout: fixed;
    width:100%;
    border: 2px solid #d9d9d9;
    min-width:300px;
    
}

td
{
    border: 2px solid #d9d9d9;
   overflow: hidden;
    height:50px;
   
   background-color:#fff;
    text-align: center;
}

th
{border: 2px solid #d9d9d9;
    background-color:#fff;
    text-align: center;overflow: hidden;
    
}
input
{
width:100%;
}

