@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body
{background-color:#f7f7f7;
}
.image
{
z-index: -3;
margin-top:-65px;
height:500px;
left:0;
right:0;
width:100%;
}
.main
{
background-color:white;
position:relative;
z-index:-2;
width:95%;
margin-top:-40px;
margin-left:2.5%;
border-radius:30px;
border: solid 1px #ededed;
min-height:800px;
}

.new
{


}
.datePub {
    z-index:-999999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #5d5d5d;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin: 0px 0px 10px;
    transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1);
}
h1.titleSection {
    color: #145b96;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px;
    padding: 20px 0px;
    font-weight: bold;
    margin-bottom: 30px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.alaune
{
width:80%;
margin-left:10%;
height:500px;
}
body{
  
  
}

.img-slider{
  position: relative;
  width: 1100px;
  height: 450px;
  margin-top:10px;
  margin-left: 0px;
  background: #fff;
}
img
{
height:450px;
position:absolute;
z-index:0;
}
.img-slider .slide{
  
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 1s;
  transition-property: clip-path;
}

.img-slider .slide img{
  
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btnn{
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btnn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.cld-main{
  width: 600px;
}
.cld-main a{
  color: red;
}
  .cld-datetime{
    
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .cld-datetime .today{
    
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
    
  }
  .cld-nav{
    
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    display: block;
    float: left;
    
    margin: 0;
    padding: 5px;
    height: 66px;
    border: 1px solid #ddd;
    overflow-y: auto;
    text-align:center;
    
  }
  .cld-day.clickable:hover{
    cursor: pointer;
  }
  .cld-day.today{
    border: 1px solid #7B00FF;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.next, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      margin: 0;
      text-align: left;
    }
      .cld-title{
        font-size: 10px;
        display: block;
        margin: 0;
        font-weight: normal;
      }
      .cld-day:hover{
        background: #eee;
      }
      .cld-number.eventday{
        font-weight: bold;
      }
      .cld-number.eventday:hover{
        background: #eee;
      }
      .today .cld-number.eventday:hover{
      }
      
.cld-sidebar
{
float:right;
}
.cld-monthList{transform: translate(80px, -400px);}
li{cursor: pointer;}
ul{list-style-type:none;}


