



<head>
  <link rel="stylesheet" href="emploi.css">
	<title>{{program}} {{groupe}} </title>
	<style>
	.eventname
{
    font-size: 1.1em;
    font-weight: bold;
    outline: 0;
    color :{{color}};
}
	</style>
</head>	


	
<body>
<div style="background-color: white;
border-radius: 8px;
	max-width: 10in;
	min-height: 11.69in;
	
	margin: auto;
color: var(--gray-900);">
<h4 style=margin:20px;"">  {{term}} </h4>
<h2 style="background-color:#fff;text-align: center;"  > Groupe {{groupe }} </h2>
<p  style="background-color:#fff;text-align: center;">  {{program}}</p>

{% set toda = date[2][:2] | int - date[0][:2] | int %}
{%set days=["Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"] %}
{% set today=days[toda]%}



{% set time=[8,9,10,11,12,13,14,15,16,17]%}
<table class="semaine" id = "tab" style=" border: 2px solid #d9d9d9;" >
	<tr>
	<th colspan=60 class="cell"> </th>
	{%for t in time %}
	<th colspan=60> <span class="pc"> {{t}}:00-</br>{{t+1}}:00 </span>   </th>
	{% endfor %}
	</tr>
	{% set id=[0]%}
	{% for ca in calendarA%}
		{% set c = ca[1]%}
		{% set hour=[8]%}
		{% set minute=[0]%}
		<!-- buckle all 6 days-->
		<tr     style="background-color:#f5f5f5;"  >
		<td colspan=60> <span class="pc" > {{ca[0]}} </span></td>
		<!-- IF all day is empty -->
		{% if not c %}
			{% for t in time %}
				<td colspan=60   {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %}></td>
			{% endfor %}
		{% else %} <!--  if day is not empty-->
			<!--  buckle scheudle-->
			{% for s in c%}
			{% set h = s[0]["fromhour"]%}	
			{% set m = s[0]["fromminute"]%}	
			{% set space = (h-hour[0]) * 60 + m - minute[0]%}
			{%set duration = ( s[0]["tohour"] - s[0]["fromhour"] ) * 60 + s[0]["tominute"] - s[0]["fromminute"] %}
			{% if space > 0 %} <!-- put space before the block -->
				{% set space2=[space]%}
				{% for i in [1,2,3,4,5,6,7,8,9,10]%}
					{% if space2[0] > 0 %}
					{% if 60 - minute[0] <= space2[0]%}
						<td colspan= {{60-minute[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} >  </td>
						{% if space2.append(space2.pop(0)-60+minute[0]) %}{% endif %}
						{% if  minute.pop(0)%} {% endif %}
						{% if minute.append(0) %}{% endif %}
					{% else %}
						<td colspan= {{space2[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} > </td>
						{% if  space2.pop(0)%} {% endif %}
						{% if space2.append(0) %}{% endif %}
					{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
				<!-- inserting the block -->
				<td colspan = {{duration }} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} >
				<div style="display:none;" id = "timeid{{id[0]}}"> {{s[0]["fromhour"]}}:{% if s[0]["fromminute"] <10 %}{{s[0]["fromminute"]}}0{% else %}{{s[0]["fromminute"]}}{%endif%} ->  {{s[0]["tohour"]}}:{% if s[0]["tominute"] <10 %}{{s[0]["tominute"]}}0{% else %}{{s[0]["tominute"]}}{%endif%}</div> 
				<div style="display:none;"id ="dayid{{id[0]}}" >{{ca[0]}}</div>
				<!-- Schedule block -->
				{% if s[-1]  and s[6]=='B' %}   <div style="height:50%;float:top;border-bottom:solid 2px;border-color: #d9d9d9;">
		{% if  ca[0] == today and  ( s[0]["fromhour"] < now[0] or ( s[0]["fromhour"] == now[0] and s[0]["fromminute"] <= now[1] ))  and  (s[0]["tohour"] > now[0]  or (s[0]["tohour"] == now[0] and s[0]["tominute"] >= now[1] )) %}
    				<div class="loader" style = "float:right;vertical-align: top;"><span class="loader__dot" style="color:#fa4e37;font-size: 10px;"><i class="fa fa-circle"></i></span></div> <div style="display:none;"id ="encoursid{{id[0]}}" >yes</div>
    			{% endif %}
				
    		 <span class=eventname id="coursid{{id[0]}}" > {{ s[-4] }}  </Span> </br> 
    		 Salle {{ s[-2]}}
    		 
    		 
    		</div>
    		
    		
    		{%endif%}
				
				
				<div class='pc'  {% if s[-1] %}   style="height:50%;" {%endif%}>
    			{% if  ca[0] == today and s[6] =='A' and  ( s[0]["fromhour"] < now[0] or ( s[0]["fromhour"] == now[0] and s[0]["fromminute"] <= now[1] ))  and  (s[0]["tohour"] > now[0]  or (s[0]["tohour"] == now[0] and s[0]["tominute"] >= now[1] )) %}
    				<div class="loader" style = "float:right;vertical-align: top;"><span class="loader__dot" style="color:#fa4e37;font-size: 10px;"><i class="fa fa-circle"></i></span></div> <div style="display:none;"id ="encoursid{{id[0]}}" >yes</div>
    			{% endif %}
    			{% if s[5] == 'tp'%}
    				<span style="float:left;margin-top:0%;">tp</span>
    					{% elif s[5]== 'cours' %}
    				<span style="float:left;margin-top:0%;">c</span>
    					{% else %}
    					{% endif %}
    			<div style = "height:100%;" class="con" >
    				<div style="">
    					
    				<span class=eventname id="coursid{{id[0]}}" > {{ s[2] }}  </Span> </br>
    			<span id="insid{{id[0]}}"   {% if s[-1] %}   style="display:none;" {%endif%}>   {{ s[3] }} </span>   {% if not s[-1] %}  <br> {%endif%}
    			 <span id="salleid{{id[0]}}"> salle {{ s[4] }} </span>
    			 	</div>
    			</div>
    		</div>
    		
    		
    		 {% if s[-1]  and s[6]=='A' %}   <div style="height:50%;float:top;border-top:solid 2px;border-color: #d9d9d9;">
    		 <span class=eventname id="coursid{{id[0]}}" > {{ s[-4] }}  </Span> </br> 
    		 Salle {{ s[-2]}}
    		 
    		 
    		</div>
    		
    		
    		{%endif%}
    		
    		
    		
    		<!-- end Schedule block -->
    		
    		{% if id.insert(0,id.pop(0)+1) %}{% endif %}
				
				</td>
				<!--  resetting next start-->
				{% if hour.pop(0) %}{% endif %}
				{% if minute.pop(0) %}{% endif %}
				{% if hour.append(s[0]["tohour"]) %}{% endif %}
				{% if minute.append(s[0]["tominute"]) %}{% endif %}
			
			{% endfor %}
			{% set space2 = [(18-hour[0]) * 60  - minute[0]]%}
			{% if space2[0] > 0 %} <!-- put space on the rest of teh day  -->
				{% for i in [1,2,3,4,5,6,7,8,9,10]%}
					{% if space2[0] > 0 %}
					{% if 60 - minute[0] <= space2[0]%}
						<td colspan= {{60-minute[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} > </td>
						{% if space2.append(space2.pop(0)-60+minute[0]) %}{% endif %}
						{% if  minute.pop(0)%} {% endif %}
						{% if minute.append(0) %}{% endif %}
					{% else %}
						<td colspan= {{space2[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} ></td>
						{% if  space2.pop(0)%} {% endif %}
						{% if space2.append(0) %}{% endif %}
					{% endif %}
					{% endif %}
				{% endfor %}
				
			{% endif %}
		{% endif %}
		</tr>
	{% endfor %}
</table>




<table id = "tabprint" style="display:none; border: 2px solid #d9d9d9;" >
	<tr>
	<th colspan=60 class="cell"> </th>
	{%for t in time %}
	<th colspan=60> <span class="pc"> {{t}}:00-</br>{{t+1}}:00 </span>  </th>
	{% endfor %}
	</tr>
	{% set id=[0]%}
	{% for ca in calendarA%}
		{% set c = ca[1]%}
		{% set hour=[8]%}
		{% set minute=[0]%}
		<!-- buckle all 6 days-->
		<tr     style="background-color:#f5f5f5;"  >
		<td colspan=60> <span class="pc" > {{ca[0]}} </span></td>
		<!-- IF all day is empty -->
		{% if not c %}
			{% for t in time %}
				<td colspan=60   {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %}></td>
			{% endfor %}
		{% else %} <!--  if day is not empty-->
			<!--  buckle scheudle-->
			{% for s in c%}
			{% set h = s[0]["fromhour"]%}	
			{% set m = s[0]["fromminute"]%}	
			{% set space = (h-hour[0]) * 60 + m - minute[0]%}
			{%set duration = ( s[0]["tohour"] - s[0]["fromhour"] ) * 60 + s[0]["tominute"] - s[0]["fromminute"] %}
			{% if space > 0 %} <!-- put space before the block -->
				{% set space2=[space]%}
				{% for i in [1,2,3,4,5,6,7,8,9,10]%}
					{% if space2[0] > 0 %}
					{% if 60 - minute[0] <= space2[0]%}
						<td colspan= {{60-minute[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} >  </td>
						{% if space2.append(space2.pop(0)-60+minute[0]) %}{% endif %}
						{% if  minute.pop(0)%} {% endif %}
						{% if minute.append(0) %}{% endif %}
					{% else %}
						<td colspan= {{space2[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} > </td>
						{% if  space2.pop(0)%} {% endif %}
						{% if space2.append(0) %}{% endif %}
					{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
				<!-- inserting the block -->
				<td colspan = {{duration }} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} >
				
				<!-- Schedule block -->
				<div class='pc'>
    			
    			{% if s[5] == 'tp'%}
    				<span style="float:left;margin-top:0%;">tp</span>
    					{% elif s[5]== 'cours' %}
    				<span style="float:left;margin-top:0%;">c</span>
    					{% else %}
    					{% endif %}
    			<div  >
    				<div >
    					
    				<span> {{ s[2] }}  </Span> </br>
    			<span > {{ s[3] }} </span> <br>
    			 <span i> salle {{ s[4] }} </span>
    			 	</div>
    			</div>
    		</div>
    		
    		{% if id.insert(0,id.pop(0)+1) %}{% endif %}
				
				</td>
				<!--  resetting next start-->
				{% if hour.pop(0) %}{% endif %}
				{% if minute.pop(0) %}{% endif %}
				{% if hour.append(s[0]["tohour"]) %}{% endif %}
				{% if minute.append(s[0]["tominute"]) %}{% endif %}
			
			{% endfor %}
			{% set space2 = [(18-hour[0]) * 60  - minute[0]]%}
			{% if space2[0] > 0 %} <!-- put space on the rest of teh day  -->
				{% for i in [1,2,3,4,5,6,7,8,9,10]%}
					{% if space2[0] > 0 %}
					{% if 60 - minute[0] <= space2[0]%}
						<td colspan= {{60-minute[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} > </td>
						{% if space2.append(space2.pop(0)-60+minute[0]) %}{% endif %}
						{% if  minute.pop(0)%} {% endif %}
						{% if minute.append(0) %}{% endif %}
					{% else %}
						<td colspan= {{space2[0]}} {% if ca[0] == today %}   style="background-color:#f5f5f5;"  {% endif %} ></td>
						{% if  space2.pop(0)%} {% endif %}
						{% if space2.append(0) %}{% endif %}
					{% endif %}
					{% endif %}
				{% endfor %}
				
			{% endif %}
		{% endif %}
		</tr>
	{% endfor %}
</table>
</div>
</body>
<script>

window.print();

// close the window after print
//NOTE: doesn't close if print is cancelled in Chrome
setTimeout(function() {
	window.close();
}, 1000);
</script>

